// about us heading h2 .food-about
h2{
    text-transform: uppercase;
    color: #333;
    font-size: 35px;
}

// about us heading h4 .food-about
h4{
    color: #444;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}


// h3 for heading of menu eg:Breakfast,lunch,dinner
h3{
    color: #444;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
